.header{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(27, 179, 147, 1);
}
.header-title{
    /* left: 46px;
    top: 18px; */
    position: absolute;
    margin-left: 46px;
    margin-top:18px;
    width: 157px;
    height: 24px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: left;
    font-family: MicrosoftYaHei-Bold;  
} 
.header-img{
    position: absolute;
    margin-left: 1296px;
    margin-top: 19px;
    width: 24px;
    height: 21.94px;
    background-color: rgba(255, 255, 255, 1); 
}
.header-exit{
    left: 1326px;
    top: 18px;
    position: absolute;
    width: 28px;
    height: 24px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: left;
    font-family: MicrosoftYaHei;
}
.left{
    left: 0px;
    /* top: 60px; */
    width: 200px;
    height: 1288px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.user-picter{
    left: 0px;
    top: 60px;
    width: 200px;
    height: 200px;
    background-color: rgba(244, 244, 244, 1);
}
.user-picter img{
    position: absolute;
    left: 67px;
    top: 84px;
    width: 68px;
    height: 68px;
}
.lead1{
    position: absolute;
    left: 83px;
    top: 162px;
    width: 35px;
    height: 20px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    text-align: left;
    font-family: MicrosoftYaHei;
}
.lead{
    position: absolute;
    left: 42px;
    top: 186px;
    width: 116px;
    height: 16px;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
    font-size: 12px;
    text-align: center;
    font-family: MicrosoftYaHei;
}
.well{
    position: absolute;
    left: 56px;
    top: 212px;
    width: 90px;
    height: 24px;
    border-radius: 100px;
    border: 1px solid rgba(153, 153, 153, 1);
}
.font{
    left: 73px;
    top: 216px;
    width: 56px;
    height: 16px;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
    font-size: 12px;
    text-align: center;
    font-family: MicrosoftYaHei;
}
ul{
    padding-left:0px;
}
.left-nav li a{
    font-size: 14px;
    margin-left: 5px;

}
.left-nav li i{
    margin-right: 10px;
}
.left-nav li{
    height: 56px;
}
.left-nav li:hover{
    background-color: #1ab393;
}
.left-nav li a:hover{
    background-color: #1ab393;
}
.breadcrumb{
    position: absolute;
    left: 230px;
    top: 60px;
    width: 1200px;
    height: 48px;
    background-color: rgba(255, 255, 255, 1);
}
.breadcrumb-return{
    margin-left:15px;
    top: 72px;
    width: 56px;
    height: 24px;
    line-height: 24px;
    color: rgba(27, 179, 147, 1);
    font-size: 14px;
    text-align: left;
    font-family: MicrosoftYaHei;
}
.breadcrumb-manger{
    margin-left:66px;
    top: 72px;
    width: 78px;
    height: 24px;
    line-height: 24px;
    color: rgba(27, 179, 147, 1);
    font-size: 14px;
    text-align: left;
    font-family: MicrosoftYaHei-Bold;
}
.breadcrumb img{
    left: 150px;
    top: 77.17px;
    width: 40px;
    height: 40px;
    background-color: rgba(27, 179, 147, 1);
}
.breadcrumb img:hover{
    cursor: pointer;

}
.breadcrumb-manger:hover{
   text-decoration: none;
   color:  rgba(27, 179, 147, 1);
}
.breadcrumb-return:hover{
   text-decoration: none;
   color:  rgba(27, 179, 147, 1);
}


/*第二部分*/
*{
    padding: 0;
    margin: 0;
}
.mian-body{
    border-top: solid rgba(28, 179, 148, 1) 4px;
    top: 124px;
    left: 216px;
    position: absolute;
    
}
.nav{
    margin-top: 10px;
}
.nav-tabs{
    border-bottom: 1px solid #1ab393;
    margin: 15px 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #1bb393;
    cursor: default;
    background-color: #fff;
    border: 1px solid #1ab393;
    border-bottom-color: transparent;
    /* height: 30px; */
    
}
.nav li a{ 
    color:#333
}
.navbar{
    background-color: rgba(222, 229, 236, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    margin-top: 15px;

}
.container-fluid a{
    font-size: 14px;
}
.banner{
    text-align: center;
    width: 130px;
    display: inline-block;
    border-bottom: solid rgba(28, 179, 148, 1) 4px;
    left: 30;
    position: absolute;
    height: 48px;
}
.img1{
    left: 260px;
    position: absolute;
}

.col-sm-6{
    padding: 20px 20px 20px 20px;
    width: 360px;
}
 .thumbnail{
     padding: 20px 20px 20px 20px;
 }
.caption input{
    outline: none;
    border: none;
}
.btn-banner{
    border: none;
    background-color: rgba(28, 179, 148, 1);
    color: white;
    width: 114px;
    height: 36px;
    border-radius: 4px;
    right: 40px;
    bottom: 60px;
    position: absolute;

}
.icon{
    right: 40px;
    position: absolute;
}
